{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->


{% block content %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">

<div class="container">
    <form>
        <input type="text" name="movie_query" placeholder="Search for a Movie" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>

</div>

<!-- Content block -->

<!-- Popular movie -->
<div class="container-full ">
    <h3> Popular Movies</h3>
    <div >
        <ul class="popular">
            {{ macro.displayMovieList(popular)}}
        </ul>
    </div>
    <!-- Upcoming movie  -->
    <div class="upcoming">
        <h3> Upcoming Movies </h3>
        <ul class="popular1">
            {{ macro.displayMovieList(upcoming)}}
        </ul>
    </div>
    <!-- Now showing movie -->
    <h3>Now Showing</h3>
    <ul class="popular">
        {{ macro.displayMovieList(now_showing)}}
    </ul>
</div>


{% endblock%}

<!-- index html -->